.catalog > .container > .slider > .slides-wrapper > figure
{
	display: flex;
	gap: 18px;

	flex-shrink: 0;
	width: @container-width - 69px;
	margin: 0;

	transition: width 2s;
}

.catalog > .container > .slider > .slides-wrapper > figure img
{
	display: block;

	width: 750px;
	height: 500px;

	object-fit: cover;
}

.catalog > .container > .slider > .slides-wrapper > figure > figcaption
{
	display: none;
	
	padding-bottom: 80px;

	font-size: 13px;
	line-height: 20px;

	color: @basic-gray;
}
